
<p-toast [style]="{marginTop: '450px'}"></p-toast>

<div class="page-header">
    <!-- Item Scheme Master -->

</div>
<br>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="col-12">
                    <h4>App Store</h4>
                    <hr style="background-color: white;">
                </div>
            </div>
        <form class="form" name="fform" #brandStoreForm="ngForm">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3">
                            <label for="City">City</label><br>
                            <p-multiSelect [style]="{minWidth:''}" id="Cityid" name="CityName" [options]="CityList"
                                [(ngModel)]="dataset.cityid" (onChange)="GetCityWarehouse(dataset.cityid)"
                                [panelStyle]="{minWidth:'25em'}" optionLabel="CityName" appendTo="body">
                            </p-multiSelect>

                        </div>
                        <div class="col-3">
                            <label>Select Hub</label><br>
                            <!-- <select class="form-control" name="warehouse" id="warehouse" [(ngModel)]="brandStoreRequest.WarehouseId">
                    <option>--Select--</option>
                    <option *ngFor="let data of wareHouseList" [ngValue]="data.WareHouseId">{{data.WareHouseName}}
                    </option>
                </select> -->
                            <p-multiSelect [style]="{minWidth:''}" id="warehouse" name="warehouse"
                                [options]="wareHouseList" (onChange)="selectedwarehouse()"
                                [(ngModel)]="brandStoreRequest.WarehouseIds" [panelStyle]="{minWidth:'25em'}"
                                optionLabel="WareHouseName" appendTo="body">
                            </p-multiSelect>
                        </div>
                        <div class="col-sm-3">
                            <label for="FromDate">StartDate</label>
                            <input type="datetime-local" id="FromDate" name="FromDate" [min]="minDate | date:'yyyy-MM-ddTHH:mm'" class="form-control dr"
                                 [ngModel]="brandStoreRequest.StartDate | date:'yyyy-MM-ddTHH:mm'"
                               #FromDateInput="ngModel" required (ngModelChange)="brandStoreRequest.StartDate = $event" />
                        
                                <div *ngIf="isInvalid && !FromDateInput.valid && FromDateInput.errors.required">
                                    <code>StartDate is required</code>
                                </div> 
                        </div>
                        <div class="col-sm-3">
                            <label for="FromDate">ToDate</label>
                            <input type="datetime-local" id="ToDate" name="ToDate" [min]="minDate | date:'yyyy-MM-ddTHH:mm'" class="form-control dr" 
                                 [ngModel]="brandStoreRequest.EndDate | date:'yyyy-MM-ddTHH:mm'"
                               #ToDateInput="ngModel" required (ngModelChange)="brandStoreRequest.EndDate = $event" />

                            <div *ngIf="isInvalid && !ToDateInput.valid && ToDateInput.errors.required">
                                 <code>ToDate is required</code>
                            </div>
                        
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col-3">
                            <label>Category</label>
                            <!-- <select class="form-control" [(ngModel)]="brandStoreRequest.SubCatId">
                     <option>A</option>
                     <option>B</option>
                 </select> -->
                            <select class="form-control dr br" name="category" id="category"
                                [(ngModel)]="brandStoreRequest.CategoryId" required #catInput="ngModel">
                                <option>--Select--</option>
                                <option *ngFor="let data of categoryList" [ngValue]="data.Categoryid">
                                    {{data.CategoryName}}
                                </option>
                            </select>

                            <div *ngIf="isInvalid && !catInput.valid && catInput.errors.required">
                                 <code>Category is required</code>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-2">

                </div>
            </div>
            <br>
            <div class="row">


                <div class="col-6">
                    <div class="imageUpload">
                        <br>
                        <input class="btn btn-raised btn-info" id="file" type="file" accept="image/jpeg, image/png" 
                            (change)="upload($event.target.files)" />
                        <button type="button" class="btn btn-raised btn-primary" *ngIf="uploadFlag" (click)="uploadImage()">
                            Upload
                        </button>
                        <div>
                            <br>
                            <img alt="" src="{{baseURL}}{{brandStoreRequest.ImageUrl}}" height="100px;"
                                class="img-square">
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary" (click)="onSave(brandStoreForm)">Send</button>
                </div>
            </div>

            <br>
        </form>
        </div>
    </div>
    <p-blockUI [blocked]="blocked"></p-blockUI>