<div class="card">
  <div class="card-body">
    <div class="row justify-content-start">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
         <div class="p-0">
           <div class="text-primary">
                <h4>Catelog</h4>
           </div>
         </div>
      </div>
   </div>
    <div class="col-sm-7 p-0">
      <div class="row">
        <!-- <div class="col-sm-2 col-4">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="setSubcateId" (change)="selectCatValue($event.target.value, 'Category')">
              <option value="" disabled>All Category</option>
              <option *ngFor="let list of allCatListName" [value]="list?.SubCategoryId"> {{list?.SubcategoryName}}</option>
            </select>
          </div>
        </div> -->
        <div class="col-sm-2 col-4">
          <div class="form-group">
            <select class="form-control"  (change)="selectCity($event.target.value)">
              <option value="0">All City</option>
              <option *ngFor="let cityObj of allCityArr" value="{{cityObj['Cityid']}}" >{{cityObj['CityName']}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-3 col-6">
              <div class="form-group">
                <a href="javascript:void(0);" (click)="searchResult()" class="btn btn-sm btn-info">Search</a>
              </div>
            </div>
            <!-- <div class="col-sm-3 col-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last week">
              </div>
            </div>
            <div class="col-sm-3 col-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last month">
              </div>
            </div>
            <div class="col-sm-3 col-6">
              <div class="form-group">
                <input type="date" class="form-control" placeholder="Date">
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="custom-tab"  *ngIf="!intialLoader && !noRecordFound">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item w-25"> 
          <a [class]="nav-link" [ngClass]="categorType=='TotalItem'? 'nav-link active': 'nav-link'" data-toggle="tab" href="javascript:void(0)" (click)="selectCategoryTab('TotalItem')" role="tab">
            <!-- <a class="'nav-link active'" data-toggle="tab" href="#tabs-1" role="tab"> -->
            <h6 >{{companyCatelogObj['TotalItems']}}</h6>
            <!-- <h6 >2349</h6> -->
            <!-- <small class="text-danger"><i class="fa fa-long-arrow-down"></i> 2.3%(524)</small><br> -->
            Total Items
          </a>
        </li>
        <li class="nav-item w-25">
          <a class="nav-link" [ngClass]="categorType=='ActiveItem'? 'nav-link active': 'nav-link'" data-toggle="tab" href="javascript:void(0)" (click)="selectCategoryTab('ActiveItem')" role="tab">
            <!-- <h6>1342</h6> -->
            <h6  >{{companyCatelogObj['ActiveItems']}}</h6>
            <!-- <small class="text-danger"><i class="fa fa-long-arrow-down"></i> 2.3%(524)</small><br> -->
            Active Items
          </a>
        </li>
        <li class="nav-item w-25">
          <a class="nav-link" [ngClass]="categorType=='StockOut'? 'nav-link active': 'nav-link'" data-toggle="tab" href="javascript:void(0)" (click)="selectCategoryTab('StockOut')" role="tab">
            <!-- <h6>542</h6> -->
            <h6 >{{companyCatelogObj['StockOut']}}</h6>
            <!-- <small class="text-success"><i class="fa fa-long-arrow-up"></i> 2.3%(524)</small><br> -->
            Stock Out
          </a>
        </li>
        <li class="nav-item w-25">
          <a class="nav-link" [ngClass]="categorType=='LowStock'? 'nav-link active': 'nav-link'" data-toggle="tab" href="javascript:void(0)" (click)="selectCategoryTab('LowStock')" role="tab">
            <!-- <h6>542</h6> -->
            <h6 >{{companyCatelogObj['LowStock']}}</h6>
            <!-- <small class="text-danger"><i class="fa fa-long-arrow-down"></i> 2.3%(524)</small><br> -->
            Low Stock
          </a>
        </li>
      </ul><!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="tabs-1" role="tabpanel">
          <div class="table-responsive" *ngIf="catelogBrandArr.length>0">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th>Category</th>
                  <th >Brands</th>
                  <!-- <th class="text-right">Total Items</th> -->
                </tr>
              </thead>
              <tbody *ngIf="catelogBrandArr.length>0">
                <tr *ngFor="let brand of catelogBrandArr" >
                  <td>{{brand['CategoryName']}}</td>
                  <td>
                  <a  *ngIf="brand && !brand['categorySameArray']" href="javascript:void(0)" (click)="selectBrandName(brand['BrandId'])">
                    {{brand['BrandName']}}({{brand['ItemCount']}})
                  </a>
                  </td>
                  <ng-container *ngIf="brand && brand['categorySameArray'] && brand['categorySameArray'].length>0">
                  <td *ngFor="let item of brand['categorySameArray']">
                    <a href="javascript:void(0)" (click)="selectBrandName(item['BrandId'])">
                      {{item['BrandName']}}({{item['ItemCount']}})
                    </a>
                  </td></ng-container>
                  <td colspan="2" ><span class="text-dark">{{brand['TotalItem']}}</span></td>
                  <!-- <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td> -->
                </tr>
                <!-- <tr>
                  <td>Hair Oil</td>
                  <td>Anmol Gold (45)</td>
                  <td>Dabur Amla (12)</td>
                  <td>Dabur Sarso Amla (50)</td>
                  <td>Dabur Almond (7)</td>
                  <td>Davur Lal Tel (8)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Air Freshner</td>
                  <td>Odonil (36)</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Hair Oil</td>
                  <td>Anmol Gold (45)</td>
                  <td>Dabur Amla (12)</td>
                  <td>Dabur Sarso Amla (50)</td>
                  <td>Dabur Almond (7)</td>
                  <td>Davur Lal Tel (8)</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Air Freshner</td>
                  <td>Odonil (36)</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Hair Oil</td>
                  <td>Anmol Gold (45)</td>
                  <td>Dabur Amla (12)</td>
                  <td>Dabur Sarso Amla (50)</td>
                  <td>Dabur Almond (7)</td>
                  <td>Davur Lal Tel (8)</td>
                  <td></td>
                </tr> -->
              </tbody>
            </table>
          </div>
              <!-- Start Loader and Intails Data set(D) -->
          <div class="row" *ngIf="!intialLoader && catelogBrandArr.length==0">
            <div class="col-12 col-md-12 col-sm-12 ">
              <div class="card">
                  <div class="card-body text-center">
                    <h6>No Record Found!</h6>
                  </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="intialLoader && catelogBrandArr.length==0" >
            <div class="col-12 col-md-12 col-sm-12">
              <div class="card">
                <div class="card-body text-center">
                  <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <p>&nbsp;</p>
          <div class="table-responsive" *ngIf="catelogBrandItemArr.length>0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Item Details</th>
                  <th>&nbsp;</th>
                  <!-- <th>Listed Date</th> -->
                  <th>MRP</th>
                  <th>PO Price</th>
                  <th>MOQ</th>
                  <th>Stock</th>
                  <!-- <th>Stock Reordering Level</th> -->
                </tr>
              </thead>
              <tbody *ngIf="catelogBrandItemArr.length>0" >
                <tr *ngFor="let catelogBrand of catelogBrandItemArr" >
                  <td>
                    <div class="item-icon">
                      <img src="{{catelogBrand['LogoUrl']}}">
                    </div>
                  </td>
                  <td>{{catelogBrand['ItemName']}}
                    <!-- <div class="weight"> 275 Ml</div> -->
                  </td>
                  <!-- <td>{{catelogBrand['ItemName']}}</td> -->
                  <!-- <td>12/06/2021 </td> -->
                  <td>{{catelogBrand['MRP']}}</td>
                  <td>{{catelogBrand['POPrice']}}</td>
                  <td>{{catelogBrand['MOQ']}}</td>
                  <td>{{catelogBrand['Stock']}}</td>
                  <!-- <td>{{catelogBrand['ItemName']}}</td> -->
                  <!-- <td>2314</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Start Loader and Intails Data set(D) -->
    <div class="row" *ngIf="!intialLoader && noRecordFound">
      <div class="col-12 col-md-12 col-sm-12 ">
        <div class="card">
            <div class="card-body text-center">
              <h6>No Record Found!</h6>
            </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="intialLoader && !noRecordFound" >
      <div class="col-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body text-center">
            <div class="spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Loader and Intails Data set(D) -->

  </div>
</div>