:host ::ng-deep .bg {
    background-image:url("../../../assets/images/Join-us1.png") ;
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   // padding: 10%;
  }
//   :host ::ng-deep .content-wrapper{
// height: 100vh!important;

//   }