<div class="d-flex align-items-center auth px-0">
    <div class="w-10">
        <div class="row w-100 mx-0">
            <div class="col-sm-4 login-heading pt8">
                <p class="mb14">
                    <img src="assets/images/seller-login-img.png">
                </p>
                <h1>
                    <span>Welcome to</span> <br>
                    Shopkirana Seller Model
                </h1>
                <div class="login-content">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying
                    out print, graphic or web designs. </div>
            </div>
            <div class="col-lg-5 offset-sm-3">
                <!-- Begin Login Mobile -->
                <div class="login-form">
                    <div class="auth-form-dark text-left py-3 px-4 px-sm-5">
                        <div class="text-center pb6 pt3">
                            <img src="assets/images/seller-login-img.png" class="login-img">
                        </div>
                        <form class="pt-3" name="mobileInputForm" #mobileForm="ngForm" >

                            <div class="form-group">
                                <fieldset>
                                    <legend>Enter Your Number</legend>
                                    <input type="number" class="login-textfield" id="exampleInputEmail1"
                                        placeholder="Enter Mobile">
                                </fieldset>
                            </div>
                            <div class="mt8">
                                <button type="submit" class="btn btn-block btn-black btn-lg">
                                    Get OTP
                                  </button>
                                <!-- <a class="btn btn-block btn-black btn-lg" routerLink="/dashboard">Get OTP</a> -->
                            </div>
                            <div class="text-center mt-4 ">
                                <p> Already have an account? <a routerLink="/register"><strong>Log In</strong></a></p>
                                <p class="pt6"> Don't have an account? <a routerLink="/register"><strong>Sign
                                            up</strong></a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Login Mobile -->
            </div>
        </div>
    </div>
</div>