
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container mt-4">
<!-- App Home Selector Starts-->
<div class="row ">
  <div class="col-12">
    <!-- Kick start -->
    <div id="kick-start" class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">App Home</h4>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <div class="row" *ngIf="isAppHomeEdit">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="city"> Select City:</label>
                <div>
                  <select id="city" name="cityName" class="form-control"
                    [(ngModel)]="cityId" (change)="getAllWarehosues(cityId);">
                    <option [value]='null'>--Select Warehouse--</option>
                    <option *ngFor="let city of cityList" [value]="city.Cityid">
                      {{city.CityName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-3">
              <div class="form-group">
                <label for="Warehouse"> Select Application Type:</label>
                <div><!--[disabled]="SectionData.WarehouseId"-->
                 <!-- <select  id="Store" name="Store" class="form-control"
                    (change)=" SectionData.WarehouseId = null; accordionSectionsList = []"
                    [(ngModel)]="SectionData.AppType">
                    <option value="">--Select App Type--</option>
                    <option value="Store">Store</option>
                  </select>
                </div>
              </div>
            </div> -->
            <div class="col-lg-3">
              <div class="form-group">
                <label for="Warehouse"> Select Warehouse:</label>
                <div><!-- [disabled]="SectionData.AppType == '' || SectionData.WarehouseId"-->
                  <select id="Warehouse" name="WarehouseName" class="form-control"
                   
                    [(ngModel)]="SectionData.WarehouseId" (change)="getSectionsByWarehouseId(SectionData.WarehouseId);">
                    <option [value]='null'>--Select Warehouse--</option>
                    <option *ngFor="let WareHouse of wareHouseList" [value]="WareHouse.WareHouseId">
                      {{WareHouse.WareHouseName}} {{WareHouse.CityName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="Warehouse"> Reset App Home:</label>
                <div>
                  <input type="button" class="btn btn-outline-success active form-control"
                    [disabled]="! SectionData.WarehouseId || SectionData.WarehouseId == 0 || SectionData.WarehouseId == 'null' || SectionData.WarehouseId == ''"
                    value="Reset App Home" (click)="resetAppHome()">
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="Warehouse"> Create New App Section:</label>
                <div>
                  <input type="button" class="btn btn-outline-success active pull-right form-control"
                    [disabled]="! SectionData.WarehouseId || SectionData.WarehouseId == 0 || SectionData.WarehouseId == 'null' || SectionData.WarehouseId == ''"
                    value="Create New Section" (click)="addNewSection()">
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="Warehouse"> Delete App Home:</label>
                <div>
                  <input type="button" class="btn btn-outline-success active form-control"
                    [disabled]="!SectionData.WarehouseId || SectionData.WarehouseId == 0 || SectionData.WarehouseId == 'null' || SectionData.WarehouseId == '' || appHomeDeleted"
                    value="Delete App Home" (click)="deleteCompleteAppHome()">
                </div>

              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <label for="Warehouse"> Save App Home:</label>
                <div>
                  <input type="button" class="btn btn-outline-success active form-control"
                    [disabled]="!SectionData.WarehouseId || SectionData.WarehouseId == 0 || SectionData.WarehouseId == 'null' || SectionData.WarehouseId == '' || appHomeDeleted"
                    value="Save App Home" (click)="saveCompleteAppHome()">
                </div>

              </div>
            </div>
            <div class="col-lg-3" *ngIf="SectionData.WarehouseId">
              <div class="form-group">
                <label for="Warehouse"> Show Mobile View:</label>
                <div>
                  <p-toggleButton class="mobile-toggle" (onChange)="showMobileView != !showMobileView" onLabel="Hide Mobile View;" offLabel="Show Mobile View" onIcon="fa fa-picture-o" offIcon="fa fa-paint-brush" iconPos="right"
                    [(ngModel)]="showMobileView"></p-toggleButton>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="Warehouse"> Publish App Home:</label>
                <div>
                  <input type="button" class="btn btn-outline-success active form-control" value="Publish Complete Home"
                    [disabled]="!SectionData.WarehouseId || SectionData.WarehouseId == 0 || SectionData.WarehouseId == 'null' || SectionData.WarehouseId == '' || !isAppHomeSaved  || appHomeDeleted"
                    (click)="publishCompleteAppHome()">
                </div>

              </div>
            </div>
            <!-- <div class="col-lg-3">
              <div class="form-group">
                <label for="Warehouse"> Clone App Home:</label>
                <div>
                  <input type="button" class="btn btn-outline-success active pull-right form-control"
                    [disabled]="!SectionData.WarehouseId || SectionData.WarehouseId == 0 || SectionData.WarehouseId == 'null' || SectionData.WarehouseId == '' || !isAppHomeSaved || appHomeDeleted"
                    value="Clone App Home" (click)="openClonePopup()">
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!--/ Kick start -->
  </div>
</div>
<!-- App Home Selector ends-->
<div class="row editedAccordion">
  <div [ngClass]="{'col-md-12': !showMobileView, 'col-md-8' : showMobileView }" style="position: relative;">
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="panel card panel-default"
      *ngIf="accordionSectionsList && accordionSectionsList.length > 0">
      <div *ngFor="let item of accordionSectionsList; let i = index;" 
        cdkDragBoundary=".panel-default" cdkDrag>
        <p-accordion (onOpen)="openAcc(i)" (onClose)="closeAcc(i)" [activeIndex]="index" #accordion>
          <ng-container *ngIf="!item.Deleted">
            <ng-container *ngIf="item.IsBanner">
              <div class="deleteAccordion" style="cursor: pointer;">
                <i class="fa fa-trash" aria-hidden="true" (click)="removeSection(item)"></i>

              </div>

              <p-accordionTab class="mt-3">
                <p-header style="cursor: pointer;">
                  <div class="numbr">
                    <span class="index">{{i+1}} </span> <span class="title">BANNER | {{item.SectionSubType}} |
                      {{item.SectionName}}</span>
                  </div>
                </p-header>
                <ng-container *ngIf="item.itemOpen">
                  <apphome-banner [itemOpen]='item.itemOpen' [currentToggleIndex]="currentToggleIndex"
                    [showMobileView]="showMobileView" [item]="item"
                    [subsubcats]="subsubcats" (addSection)="addSection($event)" [Items]="Items"
                    [indexOfItem]="i+1" (addNewSection)="openpopup = true" (disablePublish)="disablePublish($event)"
                    (removeBanner)="removeSection($event)">
                  </apphome-banner>
                </ng-container>
              </p-accordionTab>
            </ng-container>
            <ng-container *ngIf="item.IsPopUp">

              <div class="deleteAccordion" style="cursor: pointer;">
                <i class="fa fa-trash" aria-hidden="true" (click)="removeSection(item)"></i>

              </div>
              <p-accordionTab>
                <p-header>
                  <div class="numbr">
                    <span class="index">{{i+1}} </span> <span class="title">POPUP | {{item.SectionSubType}} |
                      {{item.SectionName}}</span>
                  </div>
                </p-header>
                <ng-container *ngIf="item.itemOpen">
                  <apphome-popup [itemOpen]='item.itemOpen' [currentToggleIndex]="currentToggleIndex"
                    [showMobileView]="showMobileView" [item]="item" 
                     [subsubcats]="subsubcats" (addSection)="addSection($event)" [Items]="Items"
                    [indexOfItem]="i+1" (addNewSection)="addNewSection()"
                    (disablePublish)="disablePublish($event)" (removePopup)="removeSection($event)">
                  </apphome-popup>
                </ng-container>
              </p-accordionTab>
            </ng-container>
            <ng-container *ngIf="item.IsTile">
              <div class="deleteAccordion" style="cursor: pointer;">
                <i class="fa fa-trash" aria-hidden="true" (click)="removeSection(item)"></i>
              </div>
              <p-accordionTab>
                <p-header>
                  <div class="numbr">
                    <span class="index">{{i+1}} </span> <span class="title">TILE | {{item.SectionSubType}} |
                      {{item.SectionName}}</span>
                  </div>
                </p-header>
                <ng-container *ngIf="item.itemOpen">
                  <apphome-tile [itemOpen]='item.itemOpen' #AppHomeTileComponent
                    [currentToggleIndex]="currentToggleIndex" [showMobileView]="showMobileView" [item]="item"
                     [subsubcats]="subsubcats"
                    (addSection)="addSection($event)" [Items]="Items" [indexOfItem]="i+1"
                    (addNewSection)="addNewSection()" (disablePublish)="disablePublish($event)"
                    (removeTile)="removeSection($event)">
                  </apphome-tile>
                </ng-container>
              </p-accordionTab>
            </ng-container>
          </ng-container>
        </p-accordion>
      </div>
    </div>
  </div>
  <div *ngIf="showMobileView && SectionData.WarehouseId" class="col-md-4">
    <div class="top-brdr">
      <div class="btm-brdr">
        <h1>mobile view</h1>
        <div class="row">
          <ng-container *ngFor="let section of accordionSectionsList">
            <ng-container *ngIf="section.IsBanner == true">
              <div class="col-md-12">
                <ng-container *ngIf="section.AppItemsList && section.AppItemsList.length">
                  <app-mobile-banner [section]="section.AppItemsList" [bannerType]="section.SectionSubType">
                  </app-mobile-banner>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="section.IsTile == true">
              <div class="col-md-12">
                <ng-container *ngIf="section.AppItemsList && section.AppItemsList.length">
                  <app-mobile-tile [section]="section.AppItemsList" [tileType]="section.SectionSubType"
                    [ColumnCount]="section.ColumnCount"></app-mobile-tile>
                </ng-container>
              </div>
            </ng-container>
            <ng-container *ngIf="section.IsPopUp == true">
              <ng-container *ngIf="section.AppItemsList && section.AppItemsList.length">
                <div *ngIf="section.AppItemsList && section.AppItemsList[0] && section.AppItemsList[0].displayPopup"
                  class="col-md-12 pop-up-layout">
                  <app-mobile-popup [popupType]="section.SectionSubType" [section]="section.AppItemsList">
                  </app-mobile-popup>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

      </div>
      <div class="footr row">
        <div class="col-md-4">
          <ng-container *ngFor="let section of accordionSectionsList; let i = index">
            <ng-container *ngIf="section.IsPopUp == true">
              <div style=" display: inline-block;">
                <ng-container *ngFor="let item of section.AppItemsList; let j = index">
                  <ng-container *ngIf="!item.Deleted || item.Deleted == 'false'">
                    <div style="background-color: dodgerblue; border: 2px solid black; margin-left: 2px;">
                      <input type="checkbox" style="height: 30px; width: 20px;" [(ngModel)]="item.displayPopup">
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="col-md-4 text-right">
          <i class="fa fa-eye-slash fa-2x" (click)="closeAllMobilePopups()" aria-hidden="true"></i>
        </div>
        <div class="col-md-4 text-right">
          <i class="fa fa-refresh fa-2x" (click)="resetState()" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<div *ngIf="openpopup">
  <form #newAppHomeForm="ngForm">
    <p-dialog [(visible)]="openpopup" [resizable]="true" [modal]="true" appendTo="body" positionTop="100" [style]="{width: '50%', overflow: 'auto'}">
      <p-header>
        Add New Section
      </p-header>
      <div class="row text-center">
        <div class="col-md-6 tiles-slider">
          <div class="shadowBox">
            <h4>Tiles</h4>
            <div class="col-md-12">
              <i class="fa fa-th-large fa-3x text-info" aria-hidden="true"></i>
            </div>
            <div class="col-md-12">
              <label for="checkbox" class="round">
                <input checked="checked" type="checkbox" id="checkbox" name="tile" [(ngModel)]="data.IsTile"
                  (click)="data.IsTile = !data.IsTile; data.IsBanner = false; data.IsPopUp = false; data.SectionType = 'Tile'; SubSectionType = SubSectionTypeForTile"
                  class="ng-pristine ng-valid">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 tiles-slider">
          <div class="shadowBox">
            <h4>Banner</h4>
            <div class="col-md-12">
              <i class="fa fa-image fa-3x text-warning" aria-hidden="true"></i>
            </div>
            <div class="col-md-12">
              <label for="checkboxtwo" class="round">
                <input type="checkbox" id="checkboxtwo" name="banner" [(ngModel)]="data.IsBanner"
                  (click)="data.IsTile = false; data.IsBanner = !data.IsBanner; data.IsPopUp = false; data.SectionType = 'Banner' ; SubSectionType = SubSectionTypeForBanner"
                  class="ng-pristine ng-valid">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 tiles-slider">
          <div class="shadowBox">
            <h4>Pop-Up</h4>
            <div class="col-md-12">
              <i class="fa fa-sticky-note-o fa-3x" aria-hidden="true"></i>
            </div>
            <div class="col-md-12 round">
              <label for="checkboxthree" class="round">
                <input type="checkbox" id="checkboxthree" name="checkboxthreepopup" [(ngModel)]="data.IsPopUp"
                  (click)="data.IsTile = false; data.IsBanner = false; data.IsPopUp = !data.IsPopUp; data.SectionType = 'Popup'; SubSectionType = sectionSubTypeforPopUp"
                  class="ng-pristine ng-valid">
                <span class="checkmark"></span>
              </label>

            </div>

          </div>
        </div> -->
      </div>

      <section class="section_type">
        <div class="row">
          <div class="col-md-6">
            <label class="d-block text-left"> Select Section Subtype </label>
            <select class="selectSection form-control" name="sectionsubtype" [(ngModel)]="data.SectionSubType">
              <option value="">--select--</option>
              <option value="{{subtype.type}}" *ngFor="let subtype of SubSectionType">{{subtype.type}}
              </option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="d-block text-left"> Enter Section Name </label>
            <input class="inputSection form-control" type="text" name="sctype" [(ngModel)]="data.SectionName"
              placeholder="Enter Section Name" /><br />
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label class="d-block text-left"> Enter Section Hindi Name </label>
            <input class="inputSection form-control" type="text" name="sctionHindiName" [(ngModel)]="data.sectionHindiName"
              placeholder="Enter Section Name" />
          </div>


          <div class="col-md-6">
            <label class="d-block text-left"> Select View Type </label>
            <select class="selectSection form-control" name="vwtype" [(ngModel)]="data.ViewType">
              <option value="">--select--</option>
              <option value="AppView">AppView</option>
              <option value="WebView">Web View</option>
            </select>
          </div>
          <div class="col-md-12" *ngIf="data.ViewType == 'WebView'">
            <label class="d-block text-left"> Enter Web View Name </label>
            <input class="inputSection form-control" type="text" name="webvwurl" [(ngModel)]="data.WebViewUrl"
              placeholder="Enter Web View URL" /><br />
          </div>
        </div>

      </section>

      <p-footer>
        
            <input type="text" class="btn btn-outline-success active" style="cursor: pointer;"
              [disabled]="(data.SectionSubType == '') || ( data.IsBanner == false && data.IsPopUp == false && data.IsTile == false)"
              value="Create New Section" (click)="createNewSection();">
        
      
      </p-footer>
    </p-dialog>
  </form>
</div>

<div *ngIf="openclonepopup">
  <form #cloneForm="ngForm">
    <p-dialog [(visible)]="openclonepopup" [resizable]="true" [modal]="true" appendTo="body" positionTop="100" [style]="{width: '50%', overflow: 'auto'}">
      <p-header>
        Clone App Home
      </p-header>
      <section class="section_type">
        <div class="row">
          <div class="col-md-6">
            <label> Select Application Type </label>
            <select id="Warehosuse" name="WarehousseName" class="form-control" [(ngModel)]="cloneSectionData.appType">
              <option value="null">--Select App Type--</option>
              <option value="Store">Store</option>
            </select>
          </div>

        

          <div class="col-md-6">
            <!-- <label for="Warehouse"> Select Warehouse:</label> -->
            <div>
              <!-- <select id="Warehouse" name="WarehouseName" class="form-control" [(ngModel)]="cloneSectionData.wId">
                <option [value]='null'>--Select Warehouse--</option>
                <ng-container *ngFor="let WareHouse of wareHouseList">
                  <ng-container *ngIf="WareHouse.WarehouseId != SectionData.WareHouseId">
                    <option [value]="WareHouse.WarehouseId">
                      {{WareHouse.WareHouseName}} {{WareHouse.CityName}}
                    </option>
                  </ng-container>
                </ng-container>
              </select> -->

              <div class="form-group">
                <label for="Warehouse"> Select Warehouse:</label>
                <div><!-- [disabled]="SectionData.AppType == '' || SectionData.WarehouseId"-->
                  <select id="Warehouseclone" name="Warehouseclone" class="form-control"  [(ngModel)]="cloneSectionData.wId">
                    <option [value]='null'>--Select Warehouse--</option>
                    <option *ngFor="let WareHouse of wareHouseList" [value]="WareHouse.WareHouseId">
                      {{WareHouse.WareHouseName}} {{WareHouse.CityName}}
                    </option>
                  </select>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <p-footer>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="btn btn-outline-success active"
              [disabled]="cloneSectionData.appType == 'null' || cloneSectionData.wId == 'null'" value="Clone App Home"
              (click)="cloneAppHome(); openclonepopup = false;">
          </div>
        </div>
      </p-footer>
    </p-dialog>
  </form>
</div>

<!-- <input type="button" value="checkTileExist" (click)="checkTileExist()"> -->

<p-blockUI [blocked]="blocked"></p-blockUI>
<p-progressSpinner *ngIf="blocked"
  [style]="{width: '50px', height: '50px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
  fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>