:host ::ng-deep .p-multiselect{
    background: none !important;
  }
  :host ::ng-deep .btn-xs{ font-size: 0.85rem !important;}
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }

//   .inputEdit {
//     width: 182px;//140px;
//     margin-top: 10px;
//     border: 1px solid cadetblue;
//     color: black;
//     background: white;
// }