<br>
<div class="page-header">
    <h3 class="page-title">Brand Name : {{BrandName}}</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#/itemscheme/Itemschemeuploader">
                    Back</a></li>
            <li class="breadcrumb-item active" aria-current="page">Scheme Uploader Details</li>
        </ol>
    </nav>
</div>

<p-toast [style]="{marginTop: '10px'}"></p-toast>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="ui-fluid shadow p-3 m-2 bg-white rounded table table-hover">
                <div class="position-relative">
                    <div class="row" *ngIf="ItemschemuplaoderMaster.ItemSchemeMasterId>0">
                        <div class="col-md-10">
                            <span class="card-title"> </span>
                            <div *ngIf="ItemschemuplaoderMaster.ItemSchemeMasterId>0">
                                <span>
                                    Start Date : {{ItemschemuplaoderMaster.StartDate | date : "dd/MM/yyyy h:mm a"}}
                                </span>
                                <span>
                                    End Date : {{ItemschemuplaoderMaster.EndDate | date : "dd/MM/yyyy h:mm a"}}
                                </span>

                            </div>
                        </div>
                        <div class="col-md-2" *ngIf="ItemschemuplaoderMaster.ItemSchemeMasterId>0">
                            <button type="button" class="btn btn-raised btn-raised btn-default" pButton
                                (click)="navigateToMaster(ItemschemuplaoderMaster);" label="Go to SchemeMaster >>">
                            </button>
                        </div>
                        <div class="col-md-2" *ngIf="ItemschemuplaoderMaster.Status==1">
                            <button type="button" class="btn btn-raised btn-raised btn-default" pButton
                                (click)="UpdateForReErrorChecking();" label="UpdateForReChecking"
                                [disabled]="ItemschemuplaoderMaster.Status!=1">
                            </button>
                        </div>


                    </div>

                    <p-table [columns]="Detailscolumns" [value]="ItemschemuplaoderDetail">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th>Detail</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td *ngFor="let col of columns">
                                    <span *ngIf="(col.field=='ErrorMessage' && rowData[col.field])">
                                        <button type="button" class="btn btn-raised btn-raised btn-danger" pButton
                                            (click)="openErrorDetails(rowData);" label="error"></button>

                                    </span>
                                    <span *ngIf="(col.field!='ErrorMessage')">
                                        {{rowData[col.field]}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-raised btn-raised btn-success" pButton
                                        (click)="openDetails(rowData);" label="Detail"></button>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
    </div>
</div>





<p-dialog header="Detail" [(visible)]="display" appendTo="body" [style]="{width: '1040px', height: 'auto'}">
    <div class="panel panel-info" *ngIf="ItemschemuplaoderDetails">
        <div class="row">
            <div class="col-md-6"><strong> ItemName:</strong> {{ItemschemuplaoderDetails.ItemName}}</div>
            <div class="col-md-6"><strong>MRP: </strong>{{ItemschemuplaoderDetails.MRP}}</div>
            <div class="col-md-6"><strong>CompanyCode:</strong> {{ItemschemuplaoderDetails.CompanyCode}}</div>
            <div class="col-md-6"><strong>StockCode:</strong> {{ItemschemuplaoderDetails.CompanyStockCode}}</div>
            <div class="col-md-6"><strong>BaseQty:</strong> {{ItemschemuplaoderDetails.FreeBaseItemQty}}</div>
            <div class="col-md-6"><strong>FreeChildItem:</strong> {{ItemschemuplaoderDetails.FreeChildItem}}</div>
            <div class="col-md-6"><strong>FreeStockcode :</strong>
                {{ItemschemuplaoderDetails.FreeChildItemCompanyStockcode}}</div>
            <div class="col-md-6"><strong>Freecode:</strong>
                {{ItemschemuplaoderDetails.FreeChildItemCompanycode}}</div>
            <div class="col-md-6"><strong>FreeMRP:</strong> {{ItemschemuplaoderDetails.FreeItemMRP}}</div>
            <div class="col-md-6"><strong>FreeQty:</strong> {{ItemschemuplaoderDetails.FreeItemQty}}</div>
            <div class="col-md-6"><strong>FreeStockQty:</strong> {{ItemschemuplaoderDetails.FreeItemStockQty}}</div>
            <div class="col-md-6"><strong>offinvoicemargin:</strong> {{ItemschemuplaoderDetails.offinvoicemargin}}</div>
            <div class="col-md-6"><strong>onvoiceMargin:</strong> {{ItemschemuplaoderDetails.onvoiceMargin}}</div>

        </div>

    </div>
</p-dialog>

<p-dialog header="Detail" [(visible)]="Errordisplay" appendTo="body" [style]="{width: '1040px', height: 'auto'}">
    <div class="panel panel-info" *ngIf="ErroItemschemuplaoderDetail">
        <div class="row">
            <div class="col-md-6" style="color: red;font-size: 14pt;" *ngIf="ErroItemschemuplaoderDetail.ErrorMessage">
                ErrorMessage: {{ErroItemschemuplaoderDetail.ErrorMessage}}</div>
        </div>
    </div>
</p-dialog>


<p-blockUI [blocked]="blocked"></p-blockUI>

<p-progressSpinner *ngIf="blocked"
    [style]="{width: '60px', height: '60px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>