/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import './assets/scss/variables';
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "./assets/scss/fonts";
@import "./assets/scss/functions";

/* === Icon fonts === */
@import "~ti-icons/css/themify-icons.css";
@import "~@mdi/font/scss/materialdesignicons";
@import "~font-awesome/scss/font-awesome";
@import "~flag-icon-css/sass/flag-icon";
@import "~simple-line-icons/scss/simple-line-icons";


/* === Template mixins === */
@import "./assets/scss/mixins/animation";
@import "./assets/scss/mixins/badges";
@import "./assets/scss/mixins/buttons";
@import "./assets/scss/mixins/misc";
@import "./assets/scss/mixins/color-functions";
@import "./assets/scss/mixins/cards";
@import "./assets/scss/mixins/blockqoute";
@import "./assets/scss/mixins/popovers";
@import "./assets/scss/mixins/tooltips";
@import "./assets/scss/mixins/no-ui-slider";

/* === Core Styles === */
@import "./assets/scss/background";
@import "./assets/scss/typography";
@import "./assets/scss/reset";
@import "./assets/scss/responsive";
@import "./assets/scss/misc";
@import "./assets/scss/utilities";
@import "./assets/scss/demo";
@import "./assets/scss/spinner";

/* === Components === */
@import "./assets/scss/components/forms";
@import "./assets/scss/components/checkbox-radio";
@import "./assets/scss/components/icons";
@import "./assets/scss/components/tables";
@import "./assets/scss/components/accordions";
@import "./assets/scss/components/buttons";
@import "./assets/scss/components/breadcrumbs";
@import "./assets/scss/components/badges";
@import "./assets/scss/components/cards";
@import "./assets/scss/components/preview";
@import "./assets/scss/components/popovers";
@import "./assets/scss/components/lists";
@import "./assets/scss/components/bootstrap-progress";
@import "./assets/scss/components/bootstrap-alerts";
@import "./assets/scss/components/dropdowns";
@import "./assets/scss/components/pagination";
@import "./assets/scss/components/loaders/loaders";
@import "./assets/scss/components/todo-list";
@import "./assets/scss/components/landing-screens/auth";

/* === Plugin styles === */
@import "~morris.js/morris.css";
@import "~chartist/dist/chartist.min.css";
@import '~dragula/dist/dragula.min.css';
@import "~nouislider/distribute/nouislider.min.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~select2/dist/css/select2.min.css';
@import '~ngx-bar-rating/themes/br-default-theme';
@import '~ngx-bar-rating/themes/br-bootstrap-theme';
@import '~ngx-bar-rating/themes/br-fontawesome-theme';
@import '~ngx-bar-rating/themes/br-fontawesome-o-theme';
@import '~ngx-bar-rating/themes/br-horizontal-theme';
@import '~ngx-bar-rating/themes/br-vertical-theme';
@import '~ngx-bar-rating/themes/br-stars-theme';
@import '~ngx-bar-rating/themes/br-movie-theme';
@import '~ngx-bar-rating/themes/br-square-theme';
@import '~summernote/dist/summernote-lite.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/dracula.css';
@import '~datatables.net-dt/css/jquery.dataTables.css';
@import '~ngx-toastr/toastr-bs4-alert';
@import "~@ng-select/ng-select/themes/default.theme.css";
/* === Plugin Overrides === */
@import "./assets/scss/components/plugin-overrides/owl-carousel";
@import "./assets/scss/components/plugin-overrides/select2";
@import "./assets/scss/components/plugin-overrides/toast";

/* === Layout === */
@import "./assets/scss/layout";

.login-form{
    background:white;border-radius: 20px;color:$black;width:90%;margin-bottom:20px;
    a{color:$black;}
    .login-img{width: 100px;margin: 0px auto;}
    .login-textfield{background:$white;border:none;width:90%;}
    input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
    input:-webkit-autofill {
        -webkit-text-fill-color: $black!important;
    }
    fieldset{    border: 1px solid #000;
        border-radius: 8px;
        padding: 5px 10px 10px 10px;
        font-size: 12px;
    legend{
        font-size:12px;
        width:auto;padding:0px 5px;
        margin:0px 0px 0px 5px;
    }}

}
.digit-group {
	input {
		width: 55px;
		height: 50px;
		background-color: white;
		border-radius: 4px;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-weight: 200;
		color: black;
		margin: 0 20px;
        border:1px solid #ccc;
	}

	.splitter {
		padding: 0 5px;
		color: #ccc;
		font-size: 24px;
	}
}
.menu-icon{display: none!important;}
.sidebar-icon-only .sidebar, .sidebar-icon-only .sidebar{width:0px!important;}
.sidebar-icon-only .navbar{left: 0px!important;font-size: 2.875rem!important;}
hr{ border: 0;border-top: 1px solid rgba(255, 255, 255, 0.1);}
.dropdown-toggle{background:transparent!important;border-radius: 20px!important;
&:focus{color:$white!important;}
&:hover{background: transparent!important;color:$white}
}
 .dropdown-item:hover{color:$white}
 .navbar-toggler{color:$white!important;}
 .nav{margin-left:-45px!important;}