<div class="page-header">

</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <!-- <p-toast [style]="{marginTop: '10px'}"></p-toast> -->
            <h4 class="card-title">CFR Uploader : {{subcateName}}</h4>
        </div>
    </div>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row ">
                    <div class="col-sm-3">
                        <label for="file" class="col-md-6"> file (.xlsx)</label>
                        <input type="file" id="fid" name="fname" (change)="onFileChange($event)" />
                    </div>
                    <div class="col-sm-2">
                        <br>
                        <button type="button" class="btn btn-raised btn-success mr-1 btn-lg" (click)="UploadCfr()"
                            [disabled]="!CfrPostList">
                            Upload
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <br>
                        <button type="button" class="btn btn-raised btn-danger mr-1 btn-lg" (click)="reset()">
                            Reset
                        </button>
                    </div>
                </div>
                <br>
                <p-table [value]="CfrPostList">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>S No.</th>
                            <th>ItemNumber</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{item.ItemNumber}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
<p-blockUI [blocked]="blocked"></p-blockUI>

<p-progressSpinner *ngIf="blocked"
    [style]="{width: '60px', height: '60px', position: 'absolute', left: '48%', top: '48%'}" strokeWidth="8"
    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>